.main {
    padding: 30px 0 50px 0;
    min-height: 400px;
    background: url('../img/bg.jpeg') center (center / cover) no-repeat;
    .title {
        font-size: 48px;
        font-weight: 900;
        color: #000;
        text-align: center;
        opacity: .6;
    }
    &__item {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_img {
            border-radius: 20px;
            max-height: 300px;
        }
        &_descr {
            margin-left: 150px;
            &-subtitle {
                font-size: 30px;
                font-weight: 500;
                color: #333;
            }
            &-text {
                font-size: 18px;
                font-weight: 300;
                margin-top: 15px;
            }
        }
    }
}